@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Noto Sans Japanese', sans-serif;
}

body {
  box-sizing: border-box;
  flex-direction: column;
}