@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Noto Sans Japanese', sans-serif;
}

body {
  box-sizing: border-box;
  flex-direction: column;
}

a {
  overflow: hidden;
  white-space: nowrap;
  width: 120px;
  text-overflow: ellipsis;
}

a:active {
color: #9c7a48;
text-decoration: none;
}

ul {
  padding-left: 0px;
}