@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
  background-color: #000000;
  font-family: "NotoSansCJKjp-Bold";
  color: #ffffff;
  font-family: 'Noto Sans Japanese', sans-serif;
}

body {
  width: 100%;
}

@media (min-width: 768px) {
  body {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  body {
    width: 100%;
  }
}