.break-all{
  word-break: break-all;
}

.flex{
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.contents {
  display: flex;
}

@media screen and (max-width: 767px) {
  img {
    width: 120px;
    height: 85px;
  }

  .introduce {
    display: none;
    /* font-size: 12px; */
  }

  main {
    /* text-align: center; */
    padding: 0px 15px;
  }

  .news {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    font-family: "Oswald";
    margin: 20px 0px 20px 0px;
  }

  .news-img {
    display: block;
    width: 100%;
    height: 148px;
    padding-top: 30px;
  }

  .sentence {
    display: flex;
    justify-content: center;
  }
  
  .news-sentence {
    width: 126px;
    height: 70px;
    padding-left: 8px;
  }

  .contents {
    width: 290px;
    height: 103px;
  }
  
  .three-news-img {
    width: 137px;
    height: 74px;
    border-radius: 3px;
  }
  
  .container .three-news-img {
    width: 33%;
  }
  
  .five-row-contents {
    display: none;
  }
  
  .five-news-img {
    display: none;
  }
  
  .letter-contents {
    width: 100%;
    margin-bottom: 64px;
  }
  
  .letter-form {
    background-color: #ffffff;
    width: 180px;
    height: 46px;
    border-radius: 10px;
    margin-top: 1rem;
  }
  
  .letter-submit {
    background-color: #9c7a48;
    color: #ffffff;
    width: 70px;
    height: 43px;
    padding: 5px 20px 7px 20px;
    border-radius: 3px;
  }


  .shop-info-contents {
    padding: 24px 8px;
    margin-top: 20px;
    margin-bottom: 24px;
    border: 1px solid #9c7a48;
    border-radius: 10px;

  }

  .shop-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    height: 31px;
    margin: 2rem 2rem;
    font-weight: bold;
    border: solid 2px #ffffff;
    border-radius: 10px;
  }
  
  .info-date {
    display: flex;
  }

  .info-sentence {
    font-weight: bold;
    margin:auto;
  }

  .shop-info-example {
    display: flex;
    flex-flow: column;
    width: 120px;
    margin: auto auto 20px auto;
  }
  
  .shop-img {
    display: block;
    width: 120px;
    height: 220px;
  }
  
  .shop-explanation {
    width: 120px;
  }

  .margin-bottom {
    margin-bottom: 20px;
  }
  
  .subscription-plan {
    text-align: center;
  }
  
  .online-shop-page {
    background-color: #9c7a48;
    color: #ffffff;
    padding: 5px 20px 7px 20px;
    border-radius: 3px;
    margin: 10px;
    z-index: 1;
  }
  
  .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 5px 20px 7px 20px;
    border-radius: 3px;
    z-index: 2;
  }

  .sign-up-page {
    background-color: #9c7a48;
    color: #ffffff;
    padding: 5px 20px 7px 20px;
    border-radius: 3px;
    z-index: 2;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .news-img {
    display: block;
    width: 100%;
    height: 355px;
    padding-top: 50px;
  }
  
  main {
    /* text-align: center; */
    color: #e6e6e6;
    padding: 0px 15px;
    margin-top: 20px;
  }
  
  .news {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Oswald";
    margin: 20px 0px 20px 0px;
  }
  
  .introduce {
    flex-direction: column;
  }
  
  .break-all{
    word-break: break-all;
  }
  
  .flex{
    display: flex;
    flex-direction: row;
  }

  .space-between {
    justify-content: space-between;
  }

  .sentence {
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
  
  .introduce {
    margin-bottom: 1.5rem;
  }

  .wrap {
    flex-wrap: wrap;
  }
  
  .contents {
    display: flex;
  }
  
  .news-sentence {
    width: 100%;
    height: 71px;
    padding-left: 8px;
    text-overflow: " [..]";
  }
  
  .three-news-img {
    width: 279px;
    height: 151px;
    border-radius: 3px;
    margin-bottom: 0.8rem;
  }
  
  .container .three-news-img {
      width: 33%;
  }
  
  .five-row-contents {
    width: 20%;
  }
  
  .five-news-img {
    box-sizing: border-box;
    display: block;
    width: 230px;
    height: 150px;
  }

  .five-row-contents {
    display: none;
  }

  .five-news-img {
    display: none;
  }
  
  .letter-contents {
    width: 100%;
    height: 190px;
    margin-bottom: 64px;
  }
  
  .letter-form {
    background-color: #ffffff;
    width: 453px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  
  .letter-submit {
    background-color: #9c7a48;
    color: #ffffff;
    width: 98px;
    padding: 11px 1px 11px 1px;
    border-radius: 10px;
  }

  .shop-info-contents {
    text-align: center;
    padding: 24px 8px;
    border: 1px solid #9c7a48;
    border-radius: 10px;
    margin-bottom: 24px;
  }

  .shop-info {
    padding: 0.5em 1em;
    height: 31px;
    margin: 2rem 2rem;
    font-weight: bold;
    border: solid 2px #ffffff;
    border-radius: 10px;
  }
  
  .info-date {
    display: flex;
  }

  .justify-content {
    justify-content: center;
  }

  .margin-top {
    margin-top: 20px;
  }

  .info-sentence {
    font-weight: bold;
  }

  .shop-info-example {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 340px;
    margin-bottom: 20px;
  }
  
  .shop-img {
    display: block;
    height: 220px;
  }
  
  /* .shop-explanation {
    width: 120px;
  } */

  .margin-bottom {
    margin-bottom: 20px;
  }

  .subscription-plan {
    text-align: center;
  }

  .online-shop-page {
    background-color: #9c7a48;
    color: #ffffff;
    padding: 5px 20px 7px 20px;
    border-radius: 3px;
    margin: 10px;
    z-index: 1;
  }

}


@media screen and (min-width: 1024px) {

  
  .news-img {
    display: block;
    width: 100%;
    height: 500px;
  }
  
  main {
    /* text-align: center; */
    color: #e6e6e6;
    margin-top: 20px;
    padding: 0px 15px;
    margin: 0px 32px;  
  } 
  
  h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Oswald";
    margin: 20px 0px 20px 0px;
  }
  
  .break-all{
    word-break: break-all;
  }
  
  .flex{
    display: flex;
    flex-direction: row;
  }

  .sentence {
    display: flex;
    justify-content: center;
  }
  
  .wrap {
    flex-wrap: wrap;
  }

  .contents {
    flex-flow: column;
    height: 245px;
  }
  
  .news-sentence {
    width: 293px;
    height: 38px;
    text-overflow: " [..]";
  }
  
  .three-news-img {
    width: 293px;
    height: 159px;
    border-radius: 3px;
  }

  .three-news-img:last-child {
    display: none;
  }
  
  .container .three-news-img {
      width: 33%;
  }
  
  .five-row-contents {
    width: 20%;
  }
  
  .five-news-img {
    box-sizing: border-box;
    display: block;
    width: 170px;
    height: 150px;
    margin: 10px;
  }

  .letter-contents {
    width: 100%;
    height: 190px;
    margin-bottom: 64px;
  }
  
  .letter-form {
    width: 655px;
    border-radius: 10px;
  }
  
  .letter-submit {
    background-color: #9c7a48;
    color: #ffffff;
    width: 98px;
    border-radius: 10px;
  }

  .shop-info-contents {
    /* height: 250px;
    margin-top: 24px;
    margin-left: 32px;
    margin-bottom: 24px;
    border: 1px solid #9c7a48;
    border-radius: 10px; */

    text-align: center;
    padding: 24px 8px;
    border: 1px solid #9c7a48;
    border-radius: 10px;
    margin-bottom: 24px;
  }
  
  .shop-info {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 2px #ffffff;
    border-radius: 10px;
   }
  
  .info-sentence {
    font-weight: bold;
  }
  
  .shop-info-example {
    box-sizing: border-box;
    display: block;
    width: 300px;
    margin: 10px;
  }
  
  .shop-img {
    box-sizing: border-box;
    display: block;
    width: 250px;
    height: 150px;
    margin: 20px;
  }
  
  .subscription-plan {
    margin: auto;
  }
  
  .online-shop-page {
    background-color: #9c7a48;
    color: #ffffff;
    padding: 5px 20px 7px 20px;
    border-radius: 3px;
    margin: 10px;
    z-index: 1;
  }
}
